.list {
  position: relative;
  width: 100%;  
}

.item {
  border: 4px solid white;
  box-sizing: border-box;
  float: left; 
  margin: 0;
  overflow: hidden;
  padding: 4px;
  position: relative;
  width: 25%;
}

.item > img {
  max-width: 100%;
  height: auto;
}

.info {
  display: block;
  position: absolute;
  bottom: 0;
  background: rgba(0,0,0,.4);
  width: 100%;
  padding: 10px;
}

.title {
  font-weight: 600;
}
