.list {
  position: relative;
  width: 100%;  
  overflow: hidden;
}

.item {
  box-sizing: border-box;
  float: left; 
  margin: 0;
  overflow: hidden;
  padding: 2px;
  position: relative;
  width: 25%;
}

.item > img {
  max-width: 100%;
  height: auto;
}

.info {
  display: block;
  position: absolute;
  bottom: 0;
  background: rgba(0,0,0,.4);
  width: 100%;
  padding: 10px;
}

.id {
  font-size: 10px;
  color: #fff;
  margin-bottom: 5px;
}

.title {
  font-weight: 600;
  font-size: 16px;
  color: #fff;
}

.price {
  font-weight: 200;
  font-size: 36px;
  color: #fff;
}

ul.sortclasses { 
  display: inline-block;
  height: 15px;
  list-style: none;
  max-width: 100%;
  padding: 0 5px;
  vertical-align: middle;
  margin: 0;
  height: 30px;
  vertical-align: middle;
 }

span.sorttitle {
  padding: 0 10px 0 10px; 
  display: inline-block;
  vertical-align: middle;
  line-height: 30px;
  height: 30px;
  color: #aaa;
 }

.linkto {
  color: #eee;
  float: right;
  cursor: pointer;
}

.detaillink a {
  color: #fff !important;
  text-decoration: none;
  font-weight: 900;
}
